body {
    background-color: #ffcc00; /* Amarillo chillón */
    font-family: 'Comic Sans MS', cursive;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff00ff; /* Magenta */
    padding: 20px;
    text-align: center;
}

h1 {
    color: #00ff00; /* Verde lima */
    font-size: 48px;
    text-shadow: 2px 2px #ff0000; /* Sombra roja */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    font-size: 24px;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-size: 36px;
    text-decoration: underline wavy #0000ff; /* Subrayado ondulado azul */
}

p {
    line-height: 1.6;
}

button {
    cursor: pointer;
    animation: bounce 0.5s infinite alternate;
}

@keyframes bounce {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}

footer {
    background-color: #000; /* Negro */
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
img{
    width: 400px;
    height: 500px;
}